#root {
    width: 100%; /* Ensure the root element takes up the full viewport width */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border do not affect width */
}

/* body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* -------------------------------------------------------------------- */



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*----------------------------------------------------------------*/

/* Contains Regular CSS styling (no tailwind) */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  /*----------------------------------------------------------------*/

/* Login / Sign up Pages */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('login-page5.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.421);

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('login-page5.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.login-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* backdrop-filter: blur(5px); */
    border: 2px solid rgba(48, 122, 183, 0.768);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgba(48, 122, 183, 0.444);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);
    /* opacity: 0.9; */
    /* max-width: 400px; */
}

.signup-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* backdrop-filter: blur(5px); */
    border: 2px solid rgba(48, 122, 183, 0.768);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgba(48, 122, 183, 0.444);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);
    /* opacity: 0.9; */
    /* max-width: 400px; */
}

.login-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    /* padding-bottom: 50px; */
    margin-bottom: 20px;
}

.signup-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    /* padding-bottom: 50px; */
    margin-bottom: 20px;
}

.name {
    margin-bottom: 5px;
}

.email{
    margin-bottom: 5px;
}

.password{
    margin-top: 5px;
}

.email input, .password input, .name input{
    width: 100%;
    padding: 10px;
    color:#000000;
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 70px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    cursor: pointer;
    transition: border-color 0.25s;
}

.signup-button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    cursor: pointer;
    transition: border-color 0.25s;
}

.login-button:hover, .signup-button:hover {
    border-color: rgb(182, 182, 182);
}

.login-button:active, .signup-button:avtive {
    transform: scale(0.95);
}

.link-to-login-signup {
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
}

.link-to-login-signup:hover {
    color:#b2bbd4;
    /* border-color: rgb(182, 182, 182); */
}

.login-notification{
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 25px;
    /* margin-bottom: 5px; */
    font-size: 17px;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255, 1, 1, 0.409);
    color:rgb(250, 250, 250);
    white-space: pre-line;
    /* opacity: 0.5; */
    /* transition: border-color 0.25s; */
}

.signup-notification{
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 25px;
    /* margin-bottom: 5px; */
    font-size: 17px;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255, 1, 1, 0.409);
    color:rgb(250, 250, 250);
    /* opacity: 0.5; */
    /* transition: border-color 0.25s; */
}

/* .moreButton {
    width: 30px;
    float:right;

}
.moreButton:hover {
    cursor: pointer;
} */

/* ---------------------------------------------------------------- */

/* Account Page */
.myAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: calc(100vh - 40px); */
    background-color: #1d2733;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('accountPage.gif');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center 10px;
    padding-top: 60px;

    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('DM 12.png');
    background-repeat: no-repeat;
    background-size: 105% 95%;
    background-position: center;
    margin: 0;
    opacity: 0.15; */
}

.profile-container {
  background-color: #4a91e245;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('D.Mentor5.png'); */
  /* background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center 10px; */
  /* opacity: 70%; */
  /* backdrop-filter: blur(5px); */
  /* padding: 20px; */
  /* border: 2px solid rgba(48, 122, 183, 0.768); */
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 30px 1px rgba(0, 157, 255, 0.777); /* horizontal pos, vertical pos, blur radius, spread radius*/
  width: 350px;
  /* height: 350px; */
  /* color: #fff; */
}

.no-account{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: calc(100vh - 40px); #171717*/
    background-color: #171717;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('D.Mentor9.PNG');
    background-repeat: no-repeat;
    background-size: 50vw 70vh;
    background-position: center 100px;
    /* padding-top: 60px; */
    z-index: 0;

    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('DM 12.png');
    background-repeat: no-repeat;
    background-size: 105% 95%;
    background-position: center;
    margin: 0;
    opacity: 0.15; */   
}

.no-account::before {
    content: '';
    position: absolute;
    top: 100px; /* Align with background image position */
    left: 50%;
    transform: translateX(-50%);
    width: 50vw; /* Match background image width */
    height: 70vh; /* Match background image height */
    box-shadow: 0px 0px 30px 5px rgba(43, 93, 162, 0.913); /* Visible box shadow */
    z-index: -1; /* Place behind the content */
    background-color: transparent; /* Ensure it's transparent */
    border-radius: 10px; /* Optional for rounded edges */
}

.non-profile-container{
    /* background-color: #1c2c3d5e; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('D.Mentor5.png'); */
    /* background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center 10px; */
    /* opacity: 70%; */
    /* backdrop-filter: blur(5px); */
    /* padding: 20px; */
    /* border: 1px solid rgb(23, 40, 54); */
    /* border-radius: 10px; */
    text-align: center;
    /*horizontal pos, vertical pos, blur radius, spread radius */
    /* box-shadow: 0px 3px 5px 0px rgba(43, 93, 162, 0.913);  */
    /* width: 170px; */
    /* height: 330px; */
    /* color: #fff; */
    margin-top: 590px;
}

.user-icon{
    width: 100%;
    height: auto;
    /* opacity: 100%; */
    margin-left: auto;
    margin-right: auto; 
}

.myAccount-login-signup {
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 400;
    /* margin-top: 120px; */
    /* margin-bottom: 10px; */
}

.no-account-login-signup {
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
}

.no-account-login-signup:hover {
    color:#b2bbd4;
    /* border-color: rgb(182, 182, 182); */
}

/* .non-user{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('accountPage.gif');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center 10px;
    margin-bottom: 80px;
} */

/* .myAccount-title{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    font-weight: bold;
    margin-bottom: 15px;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.username {
    /* color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 700;
    background-color: #004a9e7c;
    width: 80%;
    border: 1px solid transparent;
    transition: border-color 0.25s;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto; */
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.247); */
    /* neon glow text shadow */
    /* text-shadow: 0 0 3px #ffffff, 0 0 3px #0077e67d, 0 0 20px #0077e67d, 0 0 40px #0077e67d, 0 0 80px #0077e67d; */
    animation: fadeIn 3s ease-in-out;
    /* animation: backgroundMove 5s linear infinite; */
    background: linear-gradient(90deg, #f6fafa, #c1ffff, #70ffff);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80%;
    /* border: 1px solid transparent; */
    transition: border-color 0.25s;
    /* border-radius: 8px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* notifications */
/* .toast-success {
    background-color: #00fd04;
    color: #12d225;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */

.check-status-button {
    margin-top: 20px;
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    width: 70%;
}

.check-status-button:hover {
  background-color: #fbfbfb;
}

.edit-profile-button {
  background-color: #e6f8ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  width: 70%;
}

.edit-profile-button:hover {
  background-color: #fbfbfb;
}

.update-profile {
  /* margin: 20px 0; */
  text-align: center;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #e6f8ff;
}

.input-field {
  width: 70%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;
}

.update-profile-button {
    margin-top: 20px;
    background-color: #dbf4fe;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    width: 70%;
}

.update-profile-button:hover {
  background-color: #fbfbfb;
}

/* .delete-profile-div {
    margin-top: 40px;
} */

.delete-account-button {
    margin-top: 40px;
    background-color: #cd1212;
    color: white;
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    width: 70%;
}

.delete-account-button:hover {
    background-color: #dd1717;
}

.del-profile-text{
    font-size: 22px;
    font-weight: 500;
    white-space: pre-line;
    color: #ffffff;
}

.del-profile-button {
    margin-top: 40px;
    background-color: #cd1212;
    color: white;
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 7px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 10px;
    /* width: 80%; */
}

.del-profile-button:hover{
    background-color: rgb(233, 41, 41)
}

.cancel-del-button{
    margin-top: 40px;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 10px;
    /* margin: 10px 0; */
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 10px;
    /* width: 80%; */
}

.cancel-del-button:hover{
    background-color: rgb(255, 255, 255)
}

.signout-button {
  background-color: #10506c;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  width: 70%;
}

.signout-button:hover {
  background-color: #15485e;
}

/* .signout-button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    cursor: pointer;
    transition: border-color 0.25s;
} */


/* ---------------------------------------------------------------- */

/* header nav bar */
.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #00000027;
    background-color: #466685;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.274);
    z-index: 1000;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px; 
}

.header-nav button {
    display: none;
    background: none;
    border: none;
    padding: 0;
}

.header-home-button {
    /* margin-bottom: 5px; */
    /* padding: 0px 0px 0px 0px; */
    font-size: larger;
    color: #184c6a;
    transition: color 0.3s, transform 0.4s;
}

.header-home-button:hover {
    color: #0e3a4d;
}
.header-home-button:active {
    transform: scale(0.95);
}

.home-icon {
    width: 60px;
    height: 50px;
    cursor: pointer;
    filter: drop-shadow(0 0 2em rgba(38, 9, 225, 0.566));
}

.home-icon:hover {
    /* color: #766464; */
    transform: scale(1.04);
}

.home-icon:active {
    transform: scale(0.93);
}

.header-title {
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    margin-left: 80px;
    padding-bottom: 10px;
    /* transition: color 0.3s, transform 0.4s; */
}

.header-title:hover {
    color: #0e3a4d;
}
.header-title:active {
    transform: scale(0.91);
}

.header-right {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.header-login {
    margin-left: 5px;
}

.header-login, .header-account {
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.1s;
}

/* .header-login {
    align-items: center;
    padding: 12px 0px 0px 0px;
    color: #2f9ad0;
} */


.header-login:hover, .header-account:hover, .header-title:hover {
    color: #bdd6f4;
}
.header-login:active, .header-account:active, .header-title:active {
    transform: scale(0.91);
}

.header-nav button {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #efebebbf;
    color: #0e0e0e;
    transition: background-color 0.3s, transform 0.1s;
  }

.header-nav button:hover {
    background-color: #ce2c2c;
}
.header-nav button:active {
    transform: scale(0.90);
}

/* @media (max-width: 700px) {
    .side-nav {
        display: none;
    }

    .header-nav button {
        display: block;
    }

    .view-post {
        left: 10px !important;
    }

    .display-posts {
        left: 10px !important;
    }
} */


.loading-gif {
    width: 100px;
    height: 100px;
}

/* side bar left
.side-nav {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 150px;
    border-right: 1px solid;
    padding: 30px 0;
    background-color: #fbfcfd;
} */

/* .burger-menu {
    width: 25px; 
    height: 25px; 
    border: none;
    background-color: #fbfcfd;
}

.burger-menu:hover {
    background-color: rgba(155, 208, 216, 0.581);
}

.burger-menu:focus {
    outline-color: #00f;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px 0px 0px;
} */

/* ----------------------------------------------------- */
/* Not found page */
.notFound {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('notFound.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.return404 {
    /* background-color: rgba(0, 0, 0, 0.218); */
    color:#00fba7eb;
    border-color: #00ff9922;
}
.return404 a:hover{
    color: #28d098;
}

/* ---------------------------------------------------------------- */

/* Main Page with No User logged in */

.main-page-no-user{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('landingPage1.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------- */


/* ChatBox.jsx gpt tutor interface */

/* .chatbox-container {
    position: relative;
    max-height: 89%;
    margin-top: 65px;
    overflow-y: auto;
} */

.chatbox-content {
    max-height: 100%;
    overflow-y: auto;
}

.latex-container {
    position: relative;
    max-width: 100%;
    overflow-x: hidden; /* Make sure LaTeX content stays inside */
}

/* latex + highlight formatting gpt texts */
code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre {
    white-space: pre-wrap; /* Preserve formatting while allowing wrapping */
    word-wrap: break-word; /* Break long words in code blocks */
    overflow-x: auto;      /* Enable horizontal scrolling if necessary */
    max-width: 100%;       /* Ensure the code block doesn't overflow the container */
}

.katex {
    max-width: 100%;       /* Ensure LaTeX expressions don't overflow */
    overflow: hidden; /* Ensure it doesn’t overflow */
    word-wrap: break-word; /* Break long LaTeX expressions if necessary */
    white-space: pre-wrap; /* Allow wrapping for long LaTeX content */
}

.math {
    display: inline-block; /* Keep math expressions inline */
    max-width: 100%;       /* Ensure inline math expressions wrap */
    white-space: pre-wrap; /* Allow wrapping for inline LaTeX content */
    overflow-x: auto;      /* Handle long inline math expressions */
}

/* logo display */
.d-mentor-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
    /* height: 100%; */
}

.d-mentor-box h3{
    font-size: larger;
}
.d-mentor{
    width: 333px;
    height: 333px;
    opacity: 0.3;
}

.typing-gif {
    width: 35px;
    height: 35px;
    /* background-color: transparent; */
}

/* ---------------------------------------------------------------------- */

/*  Lessons page */

/* user input field */
math-field {
    box-sizing: border-box;
    padding: 0.35em;
    width: 66%;
    /* height: 60px; */
    font-size: 1.5em;
    border-radius: 18px;
    border: 3px solid #090909;
    background-color: #cfd6dd;
    color: rgb(0, 0, 0);
    /* white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow: visible !important;
    min-height: 60px !important; */

}

math-field:focus {
    outline: none; 
    box-shadow: 0 0 0 1px #3b7190;
}

math-field:hover {
    cursor: pointer;
}


/* --------------------------------------------------------------------- */

/* Exercise Page */

/* Correct / Incorrect user solution text color */
.correct-answer {
    color: #0eb87f !important;
}

.incorrect-answer {
    color: #d31717 !important; 
    /* color: #006eff;
    color: #14f4c7;
    color: #00a2ff;
    color: #9ca3af;
    color: #6b7280;
    color: #8C7BFD;
    color: #0e41ae9f;
    color: #00a6ff;
    color: #111827;
    color: #ffbf00; */
}

.loading-gif{
    width: 60px;
    height: 60px;
}


/* ---------------------------------------------------------------- */

/* IMG Zoom ability */

.zoomable-image {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.zoomable-image:hover {
    transform: scale(1.02);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.769);
    justify-content: center;
    align-items: center;
}

.modal img {
    min-width: 45%;
    min-height: 45%;
    max-width: 90%;
    max-height: 90%;
}

.modal.active {
    display: flex;
  }