#root {
    width: 100vw; /* Ensure the root element takes up the full viewport width */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border do not affect width */
}

/* body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* -------------------------------------------------------------------- */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*----------------------------------------------------------------*/
/* Contains Regular CSS styling (no tailwind) */


/* Login / sign up container */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
}

.login-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    backdrop-filter: blur(5px);
    border: 2px solid rgba(48, 122, 183, 0.768);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgba(48, 122, 183, 0.768);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);
    /* max-width: 400px; */
}

.login-title {
    color: rgb(222, 209, 209);
    font-size: 30px;
    font-weight: bold;
    /* padding-bottom: 50px; */
    margin-bottom: 50px;
}

.email{
    margin-bottom: 5px;
}

.password{
    margin-top: 5px;
}

.email input, .password input {
    width: 100%;
    padding: 10px;
    color:#000000;
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(4, 12, 12);
    color:rgb(250, 250, 250);
    cursor: pointer;
    transition: border-color 0.25s;
}

.login-button:hover {
    border-color: rgb(182, 182, 182);
}

.login-button:active {
    transform: scale(0.95);
}

.link-to-login-signup {
    color: rgb(255, 255, 255);
}

.link-to-login-signup:hover {
    color:#b2bbd4;
    /* border-color: rgb(182, 182, 182); */
}

/* .moreButton {
    width: 30px;
    float:right;

}
.moreButton:hover {
    cursor: pointer;
} */

/* ---------------------------------------------------------------- */

/* Account Page */
.myAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
}

.myAccount-content{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    backdrop-filter: blur(5px);
    border: 2px solid rgba(48, 122, 183, 0.768);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgba(48, 122, 183, 0.768);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);
    /* max-width: 400px; */
}

.myAccount-title{
    color: rgb(222, 209, 209);
    font-size: 30px;
    font-weight: bold;
    /* padding-bottom: 50px; */
    margin-bottom: 50px;
}

.myAccount-login-signup {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 10px;
}


/* ---------------------------------------------------------------- */
/* header nav bar */
.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #000;
    background-color: #466685;
    z-index: 1000;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px; 
}

.header-nav button {
    display: none;
    background: none;
    border: none;
    padding: 0;
}

.header-home-button {
    /* margin-bottom: 5px; */
    /* padding: 0px 0px 0px 0px; */
    font-size: larger;
    color: #184c6a;
    transition: color 0.3s, transform 0.4s;
}

.header-home-button:hover {
    color: #0e3a4d;
}
.header-home-button:active {
    transform: scale(0.95);
}

.home-icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    color: #b92121;
    transition: color 0.3s, transform 0.1s;
}

.home-icon:hover {
    color: #8b1616;
}

.home-icon:active {
    transform: scale(0.91);
}

.header-title {
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    margin-left: 80px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-login, .header-account {
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.1s;
}

/* .header-login {
    align-items: center;
    padding: 12px 0px 0px 0px;
    color: #2f9ad0;
} */


.header-login:hover, .header-account:hover, .header-title:hover {
    color: #bdd6f4;
}
.header-login:active, .header-account:active, .header-title:active {
    transform: scale(0.91);
}

.header-nav button {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #efebebbf;
    color: #0e0e0e;
    transition: background-color 0.3s, transform 0.1s;
  }

.header-nav button:hover {
    background-color: #ce2c2c;
}
.header-nav button:active {
    transform: scale(0.90);
}

  @media (max-width: 700px) {
    .side-nav {
      display: none;
    }
    .header-nav button {
        display: block;
    }
    .view-post {
      left: 10px !important; 
    }
    .display-posts {
        left: 10px !important;
    }
  }


.loading-gif {
    width: 100px;
    height: 100px;
}

/* side bar left
.side-nav {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 150px;
    border-right: 1px solid;
    padding: 30px 0;
    background-color: #fbfcfd;
} */

/* .burger-menu {
    width: 25px; 
    height: 25px; 
    border: none;
    background-color: #fbfcfd;
}

.burger-menu:hover {
    background-color: rgba(155, 208, 216, 0.581);
}

.burger-menu:focus {
    outline-color: #00f;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px 0px 0px;
} */

/* ----------------------------------------------------- */
/* Not found page */
.notFound {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.186)), url('/One Piece/IMG_0077.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.return404 {
    background-color: rgba(0, 0, 0, 0.218);
}

/* ---------------------------------------------------------------- */
