#root {
    width: 100%;
    /* Ensure the root element takes up the full viewport width */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and border do not affect width */
}

/* body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
} */

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
    color: rgba(3, 78, 144, 0.8);
}

/* -------------------------------------------------------------------- */



@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}



/*----------------------------------------------------------------*/

/* Contains Regular CSS styling (no tailwind) */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

/*----------------------------------------------------------------*/

body.loginBody {
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/login-page5.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.body-login{
    background-color: rgba(255, 255, 255, 0);
    

    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/login-page5.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}

/* Login / Sign up Pages */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: rgba(255, 255, 255, 0);

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/login-page5.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    background-color: rgba(0, 0, 0, 0.421);

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/login-page5.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}

.login-container {
    border: 2px solid rgba(48, 122, 183, 0.768);
    border-radius: 20px;
    padding: 20px;
    /* margin-bottom: 25px; */
    /* width: 100%; */
    /* max-width: 400px; */
    /* height: 300px; */
    text-align: center;
    background-color: rgba(48, 122, 183, 0.444);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);

}

.signup-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* backdrop-filter: blur(5px); */
    border: 2px solid rgba(48, 122, 183, 0.768);
    border-radius: 20px;
    padding: 20px;
    /* margin-bottom: 25px;
    width: 400px;
    height: 300px; */
    text-align: center;
    background-color: rgba(48, 122, 183, 0.444);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);
    /* opacity: 0.9; */
    /* max-width: 400px; */
}

.login-title {
    color: rgb(255, 255, 255);
    /* font-size: 30px; */
    font-weight: bold;
    /* padding-bottom: 50px; */
    /* margin-bottom: 20px; */
}

.signup-title {
    color: rgb(255, 255, 255);
    /* font-size: 30px; */
    font-weight: bold;
    /* padding-bottom: 50px; */
    /* margin-bottom: 20px; */
}

.name {
    margin-bottom: 5px;
}

.email {
    margin-bottom: 5px;
}

.login-input-field {
    color: #000000;
    background-color: #ffffff;
}

.password {
    margin-top: 5px;
}

.email input,
.password input,
.name input {
    /* width: 100%; */
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-button {
    border-radius: 10px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    /* margin-top: 70px; */
    margin-bottom: 5px;
    /* font-size: 15px; */
    font-weight: 700;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: border-color 0.25s;
}

.signup-button {
    border-radius: 10px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    /* margin-top: 20px; */
    margin-bottom: 5px;
    /* font-size: 15px; */
    font-weight: 700;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: border-color 0.25s;
}

.login-button:hover,
.signup-button:hover {
    border-color: rgb(182, 182, 182);
    background-color: rgb(217, 234, 247);
}

.login-button:active,
.signup-button:avtive {
    transform: scale(0.95);
}

.link-to-login-signup {
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
}

.link-to-login-signup:hover {
    color: #b2bbd4;
    /* border-color: rgb(182, 182, 182); */
}

.reset-password-link:focus,
.reset-password-link:hover {
    outline: none !important;
    box-shadow: none !important;
}

button.reset-password-link:focus,
button.reset-password-link:hover {
    outline: none !important;
    box-shadow: none !important;
}

.login-notification {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 25px;
    /* margin-bottom: 5px; */
    /* font-size: 17px; */
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255, 1, 1, 0.409);
    color: rgb(250, 250, 250);
    white-space: pre-line;
    /* opacity: 0.5; */
    /* transition: border-color 0.25s; */
}

.signup-notification {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 25px;
    /* margin-bottom: 5px; */
    /* font-size: 17px; */
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255, 1, 1, 0.409);
    color: rgb(250, 250, 250);
    /* opacity: 0.5; */
    /* transition: border-color 0.25s; */
}

/* .moreButton {
    width: 30px;
    float:right;

}
.moreButton:hover {
    cursor: pointer;
} */

/* ---------------------------------------------------------------- */

/* Account Page */

body.profileBody {
    /* background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/accountPage.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: #1d2733;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/accountPage.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center 20px;
}

.myAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    height: auto;
    /* height: calc(100vh - 40px); */
    background-color: #1d2733;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/accountPage.gif');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* background-attachment: fixed; */
    background-position: center 20px;
    padding-top: 60px;
    /* overflow-y: auto; */

    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('DM 12.png');
    background-repeat: no-repeat;
    background-size: 105% 95%;
    background-position: center;
    margin: 0;
    opacity: 0.15; */
}

/* 
.profile-page {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
} */

/* .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.profile-container {
    background-color: #4a91e245;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('D.Mentor5.png'); */
    /* background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center 10px; */
    /* opacity: 70%; */
    /* backdrop-filter: blur(5px); */
    /* padding: 20px; */
    /* border: 2px solid rgba(48, 122, 183, 0.768); */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 30px 1px rgba(0, 157, 255, 0.777);
    /* horizontal pos, vertical pos, blur radius, spread radius*/
    /* width: 350px; */
    /* height: 350px; */
    /* color: #fff; */
}

.profile-container-left {
    background-color: #4a91e245;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('D.Mentor5.png'); */
    /* background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center 10px; */
    /* opacity: 70%; */
    /* backdrop-filter: blur(5px); */
    /* padding: 20px; */
    /* border: 2px solid rgba(48, 122, 183, 0.768); */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 30px 1px rgba(0, 157, 255, 0.777);
    /* horizontal pos, vertical pos, blur radius, spread radius*/
    /* width: 350px; */
    /* height: 350px; */
    /* color: #fff; */
}

.profile-container-right {
    background-color: #4a91e245;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('D.Mentor5.png'); */
    /* background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center 10px; */
    /* opacity: 70%; */
    /* backdrop-filter: blur(5px); */
    /* padding: 20px; */
    /* border: 2px solid rgba(48, 122, 183, 0.768); */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 30px 1px rgba(0, 157, 255, 0.777);
    /* horizontal pos, vertical pos, blur radius, spread radius*/
    /* width: 350px; */
    /* height: 350px; */
    /* color: #fff; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.821)), url('/notFound.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
}


/* Right container */
/* .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.no-account {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: calc(100vh - 40px); #171717*/
    background-color: #201f1f;
    /* box-shadow: 0px 0px 30px 5px rgba(43, 93, 162, 0.913); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('D.Mentor9.PNG'); */
    /* background-repeat: no-repeat; */
    /* background-size: 50vw 70vh; */
    /* background-position: center 100px; */
    /* padding-top: 1%; */
    /* z-index: 0; */

    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('DM 12.png');
    background-repeat: no-repeat;
    background-size: 105% 95%;
    background-position: center;
    margin: 0;
    opacity: 0.15; */
}

.no-account-image {
    box-shadow: 0px 0px 35px 15px rgba(43, 93, 162, 0.913);
    border-radius: 20px;
    /* background-color: transparent; */
    /* transform: translateX(-50%); */
}

/* .no-account::before { */
/* content: ''; */
/* position: absolute; */
/* top: 100px; Align with background image position */
/* left: 50%; */
/* transform: translateX(-50%); */
/* width: 50vw; Match background image width */
/* height: 70vh; Match background image height */
/* box-shadow: 0px 0px 30px 5px rgba(43, 93, 162, 0.913); Visible box shadow */
/* z-index: -1; Place behind the content */
/* background-color: transparent; Ensure it's transparent */
/* border-radius: 10px; Optional for rounded edges */
/* } */

.non-profile-container {
    /* background-color: #1c2c3d5e; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('D.Mentor5.png'); */
    /* background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center 10px; */
    /* opacity: 70%; */
    /* backdrop-filter: blur(5px); */
    /* padding: 20px; */
    /* border: 1px solid rgb(23, 40, 54); */
    /* border-radius: 10px; */
    text-align: center;
    /*horizontal pos, vertical pos, blur radius, spread radius */
    /* box-shadow: 0px 3px 5px 0px rgba(43, 93, 162, 0.913);  */
    /* width: 170px; */
    /* height: 330px; */
    /* color: #fff; */
    /* margin-top: 590px; */
}

.user-icon {
    width: 100%;
    height: auto;
    /* opacity: 100%; */
    margin-left: auto;
    margin-right: auto;
}

.myAccount-login-signup {
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 400;
    /* margin-top: 120px; */
    /* margin-bottom: 10px; */
}

.no-account-login-signup {
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
}

.no-account-login-signup:hover {
    color: #b2bbd4;
    /* border-color: rgb(182, 182, 182); */
}

/* .non-user{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/accountPage.gif');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center 10px;
    margin-bottom: 80px;
} */

/* .myAccount-title{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    font-weight: bold;
    margin-bottom: 15px;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.username {
    /* color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 700;
    background-color: #004a9e7c;
    width: 80%;
    border: 1px solid transparent;
    transition: border-color 0.25s;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto; */
    /* font-size: 28px; */
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    font-weight: 700;
    /* text-shadow: 0px 0px 10px rgba(161, 217, 225, 0.732), 0 0 20px rgba(19, 196, 223, 0.753); */
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.247); */
    /* neon glow text shadow */
    /* text-shadow: 0 0 3px #ffffff, 0 0 3px #0077e67d, 0 0 20px #0077e67d, 0 0 40px #0077e67d, 0 0 80px #0077e67d; */
    animation: fadeIn 3s ease-in-out;
    /* animation: backgroundMove 5s linear infinite; */
    background: linear-gradient(90deg, #f6fafa, #c1ffff, #70ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80%;
    /* border: 1px solid transparent; */
    transition: border-color 0.25s;
    /* border-radius: 8px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.learning-div-title {
    font-weight: 700;
    /* text-shadow: 0px 0px 10px rgb(0, 0, 0); */
    /* text-shadow: 0px 0px 10px rgba(107, 172, 242, 0.717), 0 0 20px rgba(19, 114, 223, 0.741); */
    /* neon glow text shadow */
    /* text-shadow: 0 0 3px #ffffff, 0 0 3px #0077e67d, 0 0 20px #0077e67d, 0 0 40px #0077e67d, 0 0 80px #0077e67d; */
    animation: fadeIn 3s ease-in-out;
    /* animation: backgroundMove 5s linear infinite; */
    background: linear-gradient(90deg, #70ffff, #c1ffff, #f6fafa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80%;
    /* border: 1px solid transparent; */
    transition: border-color 0.25s;
    /* border-radius: 8px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* .profile-img-col{
    
} */

/* notifications */
/* .toast-success {
    background-color: #00fd04;
    color: #12d225;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
*/
.main-page-nav-button {
    /* margin-top: 20px; */
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    /* border: 1px solid transparent; */
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 700;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    /* width: 70%; */
}

.main-page-nav-button:hover {
    background-color: #fbfbfb;
}

.challenges-button-col {
    /* margin-top: 20px; */
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    /* border: 1px solid transparent; */
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    /* width: 70%; */
}

.challenges-button-col:hover {
    background-color: #fbfbfb;
}

.challenges-button-row {
    /* margin-top: 20px; */
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    /* border: 1px solid transparent; */
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 700;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    /* width: 70%; */

}

.challenges-button-row:hover {
    background-color: #fbfbfb;
}

.check-status-button {
    /* margin-top: 20px; */
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    /* border: 1px solid transparent; */
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    /* width: 70%; */
}

.check-status-button:hover {
    background-color: #fbfbfb;
}

.games-button-profile-row {
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 700;
    border-radius: 8px;
    /* width: 70%; */
}

.games-button-profile-row:hover {
    background-color: #fbfbfb;
}

.games-button-profile-col {
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    border-radius: 8px;
    /* width: 70%; */
}

.games-button-profile-col:hover {
    background-color: #fbfbfb;
}

.edit-profile-button {
    background-color: #e6f8ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    border-radius: 8px;
    /* width: 70%; */
}

.edit-profile-button:hover {
    background-color: #fbfbfb;
}

.edit-cancel-button {
    background-color: rgb(109,183,226);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    border-radius: 8px;
    /* width: 70%; */
}

.edit-cancel-button:hover {
    background-color: rgb(139, 204, 242);
}

.update-profile {
    /* margin: 20px 0; */
    text-align: center;
}

.input-label {
    display: block;
    /* margin-bottom: 5px;
  font-size: 16px; */
    font-weight: 600;
    color: #e6f8ff;
}

.input-field {
    /* width: 70%; */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    /* margin-bottom: 15px; */
    color: #000000;
    /* font-size: 18px; */
    font-weight: 500;
    background-color: #ffffff;
}



.update-profile-button {
    /* margin-top: 20px; */
    background-color: rgb(109,183,226);
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    /* width: 70%; */
}

.update-profile-button:hover {
    background-color: rgb(139, 204, 242);
}

/* .delete-profile-div {
    margin-top: 40px;
} */

.delete-account-button {
    /* margin-top: 40px; */
    background-color: #cd1212;
    color: white;
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 15px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 8px;
    /* width: 70%; */
}

.delete-account-button:hover {
    background-color: #dd1717;
}

.del-profile-text {
    /* font-size: 22px; */
    font-weight: 500;
    white-space: pre-line;
    color: #ffffff;
}

.del-profile-button {
    /* margin-top: 40px; */
    background-color: #cd1212;
    color: white;
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 7px;
    /* margin-right: 10px; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 10px;
    /* width: 80%; */
}

.del-profile-button:hover {
    background-color: rgb(233, 41, 41)
}

.cancel-del-button {
    /* margin-top: 40px; */
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    /* padding: 0.4em 1.2em; */
    padding: 10px 10px;
    /* margin: 10px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    border-radius: 10px;
    /* width: 80%; */
}

.cancel-del-button:hover {
    background-color: rgb(255, 255, 255)
}

.signout-button {
    background-color: #10506c;
    color: white;
    border: none;
    padding: 10px 15px;
    /* margin: 15px 0; */
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: 500;
    border-radius: 8px;
    /* width: 70%; */
}

.signout-button:hover {
    background-color: #13668a;
}

/* .signout-button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    cursor: pointer;
    transition: border-color 0.25s;
} */


/* ---------------------------------------------------------------- */

/* header nav bar */
/* @keyframes shine {
    0% {
        left: -150%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 150%;
    }
} */

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #00000027;
    background-color: #466685;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.274);
    z-index: 1000;
}

/* .header-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 300%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%);
    animation: shine 5s infinite;
} */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
}

.header-nav button {
    display: none;
    background: none;
    border: none;
    padding: 0;
}

.header-home-button {
    /* margin-bottom: 5px; */
    /* padding: 0px 0px 0px 0px; */
    font-size: larger;
    color: #184c6a;
    transition: color 0.3s, transform 0.4s;
}

.header-home-button:hover {
    color: #0e3a4d;
}

.header-home-button:active {
    transform: scale(0.95);
}

.home-icon {
    cursor: pointer;
    filter: drop-shadow(0 0 2em rgba(38, 9, 225, 0.566));
}

.home-icon:hover {
    /* color: #766464; */
    transform: scale(1.04);
}

.home-icon:active {
    transform: scale(0.93);
}

.header-title {
    flex-grow: 1;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    margin-left: 80px;
    padding-bottom: 10px;
    /* transition: color 0.3s, transform 0.4s; */
}

.header-title:hover {
    color: #0e3a4d;
}

.header-title:active {
    transform: scale(0.91);
}

.header-right {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.header-login {
    margin-left: 5px;
}

.header-login,
.header-account {
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.1s;
}

/* .header-login {
    align-items: center;
    padding: 12px 0px 0px 0px;
    color: #2f9ad0;
} */


.header-login:hover,
.header-account:hover,
.header-title:hover {
    color: #bdd6f4;
}

.header-login:active,
.header-account:active,
.header-title:active {
    transform: scale(0.91);
}

.header-nav button {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #efebebbf;
    color: #0e0e0e;
    transition: background-color 0.3s, transform 0.1s;
}

.header-nav button:hover {
    background-color: #ce2c2c;
}

.header-nav button:active {
    transform: scale(0.90);
}

/* @media (max-width: 700px) {
    .side-nav {
        display: none;
    }

    .header-nav button {
        display: block;
    }

    .view-post {
        left: 10px !important;
    }

    .display-posts {
        left: 10px !important;
    }
} */


.loading-gif {
    width: 100px;
    height: 100px;
}

/* side bar left
.side-nav {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 150px;
    border-right: 1px solid;
    padding: 30px 0;
    background-color: #fbfcfd;
} */

/* .burger-menu {
    width: 25px; 
    height: 25px; 
    border: none;
    background-color: #fbfcfd;
}

.burger-menu:hover {
    background-color: rgba(155, 208, 216, 0.581);
}

.burger-menu:focus {
    outline-color: #00f;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px 0px 0px;
} */

/* ----------------------------------------------------- */
/* Not found page */
.notFound {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/notFound.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.return404 {
    /* background-color: rgba(0, 0, 0, 0.218); */
    color: #00fba7eb;
    border-color: #00ff9922;
}

.return404 a:hover {
    color: #28d098;
}

/* ---------------------------------------------------------------- */

/* Main Page with No User logged in */

.main-page-no-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/landingPage1.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------- */


/* ChatBox.jsx gpt tutor interface */

/* .chatbox-container {
    position: relative;
    max-height: 89%;
    margin-top: 65px;
    overflow-y: auto;
} */

.chatbox-content {
    max-height: 100%;
    overflow-y: auto;
}

.latex-container {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    /* Make sure LaTeX content stays inside */
}

/* latex + highlight formatting gpt texts */
code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre {
    white-space: pre-wrap;
    /* Preserve formatting while allowing wrapping */
    word-wrap: break-word;
    /* Break long words in code blocks */
    overflow-x: auto;
    /* Enable horizontal scrolling if necessary */
    max-width: 100%;
    /* Ensure the code block doesn't overflow the container */
}

.katex {
    max-width: 100%;
    /* Ensure LaTeX expressions don't overflow */
    overflow: hidden;
    /* Ensure it doesn’t overflow */
    word-wrap: break-word;
    /* Break long LaTeX expressions if necessary */
    white-space: pre-wrap;
    /* Allow wrapping for long LaTeX content */
}

.math {
    display: inline-block;
    /* Keep math expressions inline */
    max-width: 100%;
    /* Ensure inline math expressions wrap */
    white-space: pre-wrap;
    /* Allow wrapping for inline LaTeX content */
    overflow-x: auto;
    /* Handle long inline math expressions */
}

/* logo display */
.d-mentor-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 110px; */
    /* height: 100%; */
}

.d-mentor-box h3 {
    font-size: larger;
    /* font-weight: lighter; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: fadeIn 15s ease-in-out;
    /* animation: backgroundMove 5s linear infinite; */
    background: linear-gradient(90deg, #fdb530, #ffc559, #fdcd74);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
}

.d-mentor {
    /* width: 333px;
    height: 333px; */
    opacity: 0.3;
    border-radius: 10px;
}

.typing-gif {
    width: 35px;
    height: 35px;
    /* background-color: transparent; */
}

/* ---------------------------------------------------------------------- */

/*  Lessons page */


/* --------------------------------------------------------------------- */

/* Exercise Page */

/* user input field */
math-field {
    box-sizing: border-box;
    padding: 0.35em;
    width: 86%;
    /* height: 60px; */
    /* font-size: 1.5em; */
    border-radius: 18px;
    border: 3px solid #090909;
    background-color: #cfd6dd;
    color: rgb(0, 0, 0);
    overflow: hidden;
    /* white-space: nowrap;  */
    /* text-overflow: ellipsis; */
    /* white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow: visible !important;
    min-height: 60px !important; */

}

/* .math-input-field{
    outline: none
}
.math-input-field:focus{
    box-shadow: 0px 0px 5px 5px #3b7190;
} */
math-field:focus {
    outline: none;
    /* box-shadow: 0px 0px 0px 1px #3b7190; */
    border-color: #3b7190;
}

math-field:hover {
    cursor: pointer;
}

.game-link {
    color: #0a2663 !important;
    text-decoration: none !important;
}

.game-link:hover {
    color: #0a2663 !important;
}

/* Correct / Incorrect user solution text color */
.correct-answer {
    color: #0eb87f !important;
}

.incorrect-answer {
    color: #d31717 !important;
    /* color: #cdbc009b;
    color: #14f4c7;
    color: #0873b1;
    color: #83c7ec33;
    color: #ff00a627;
    color: #2e649a;
    color: #ba21829c;
    color: #2c62d780;
    color: #00336a;
    color: #424242;
    color: rgba(180, 29, 29, 0.651) */
}

.loading-gif {
    width: 60px;
    height: 60px;
}

/* Excalidraw Drawing Tool */

.excalidraw-container {
    border: 1px solid #adadad;
}

.excalidraw-title {
    margin-left: 21%;
    /* margin-top: 55px;
    margin-bottom: 115px; */
    /* font-size: large; */
    font-weight: 700;
    animation: fadeIn 1s ease-in-out;
    background: linear-gradient(90deg, #1fb0dc, #22d1d7, #22d79e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .excalidraw-title span{
    
    animation: fadeIn 1s ease-in-out;
    background: linear-gradient(90deg, #1fb0dc, #22d1d7, #22d79e);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


/* ---------------------------------------------------------------- */

/* IMG Zoom ability */

.zoomable-image {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.zoomable-image:hover {
    transform: scale(1.02);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.769);
    justify-content: center;
    align-items: center;
}

.modal img {
    min-width: 45%;
    min-height: 45%;
    max-width: 90%;
    max-height: 90%;
}

.modal.active {
    display: flex;
}

/* -------------------------------------------------------------- */

/* My STATUS / Userprogress page */

.progress-title {
    text-shadow: 2px 2px 4px rgba(0, 162, 255, 0.661);
}

.ldBar-label {
    /* font-size: 1.5em; */
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    /* top: 30.0%;
    left: 30%; */
    pointer-events: none;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.ldBar-label:after {
    content: "%";
}

/* .label-center .ldBar-label {
    @apply absolute top-[30%] left-[30%] text-black text-opacity-80 font-medium pointer-events-none;

    @apply xxxsm:text-[10px] xxsm:text-[15px] xsm:text-[19px] sm:text-[22px] md:text-[24px] lg:text-[24px] xl:text-[24px];
} */

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .progress-label {
    position: absolute; 
    top: 20.0%;
    left: 28%;
    font-size: 1.3em; 
    font-weight: 500;
    color: #457fb1; 
    pointer-events: none; 
} */

/* .progress-label:after {
    content: "%";
} */

/* --------------------------------------------------------------- */

/* GAMES page */

body.myAccountBody {
    background-color: #1d2733;

    @keyframes gradientShift {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    background: radial-gradient(circle, #121212, #1c1c1c, #262626, #2a2a2a);
    background-size: 150% 150%;
    animation: gradientShift 10s ease infinite;
    overflow: hidden;
    overflow-y: auto;
    /* background-size: cover; */
}

.games-title {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6);
}

.games-container {
    /* color: white; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: row; */
    /* max-width: 500px; */
    /* height: 500px; */
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    overflow-x: auto;
    /* padding: 0 50px; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

.game-button-flashcard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #00ffa2;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid transparent;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    contain: layout paint;
    /* background-image: linear-gradient(rgba(28, 94, 0, 0.495), rgba(19, 144, 0, 0.462)), url('/flashcard-image.png'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/flashcard-image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.game-button-flashcard:hover {
    transform: scale(1.1);
    border-color: rgba(0, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/flashcard-image.png');
}

.game-button-memorymatch {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #00b3ff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid transparent;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    contain: layout paint;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/memory-match.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.game-button-memorymatch:hover {
    transform: scale(1.1);
    border-color: rgba(0, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/memory-match.png');
}

.game-button-dragdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff200;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid transparent;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    contain: layout paint;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/dragndrop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.game-button-dragdrop:hover {
    transform: scale(1.1);
    border-color: rgba(0, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/dragndrop.png');
}

.game-button-hangman {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ff0000;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid transparent;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    contain: layout paint;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/hangman.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.game-button-hangman:hover {
    transform: scale(1.1);
    border-color: rgba(0, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/hangman.png');
}

/* .game-icon {

  } */

/* Adding Ambient Effects */
.ambient-glow {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0, 255, 255, 0.2);
    filter: blur(100px);
    border-radius: 50%;
    animation: pulse 6s infinite ease-in-out alternate;
    pointer-events: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.5);
        opacity: 1;
    }
}

.ambient-glow1 {
    top: 10%;
    left: 10%;
}

.ambient-glow2 {
    bottom: 15%;
    right: 15%;
}

.ambient-glow3 {
    top: 50%;
    left: 70%;
}


/* -------------------------------------------------------------------- */

/* FLASHCARD page */

body.flashCardBody {
    background-color: #1f2937;
    cursor: url('/wand-cursor.svg'), auto;
}

/* .card-page-container{

} */

.flashcard-title {
    /* font-size: 2.0rem; */
    font-weight: bold;
    /* margin-bottom: 1.5rem; */
    /* color: #ffffff; */
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6);
}

.streak-tracker {
    text-shadow: 0 0 10px rgba(0, 225, 255, 0.8), 0 0 20px rgba(0, 195, 255, 0.6);
}

/* .card-container { */
/* position: relative; */
/* width: 300px;
    height: 200px; */
/* margin-bottom: 10px; */
/* display: flex; */
/*transition: transform 0.6s;*/
/* transform-style: preserve-3d; */

/* perspective: 1500px; */
/* } */

.cards {
    transform-style: preserve-3d;
    transition: transform 0.9s;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(19, 190, 119, 0.681);
    /* cursor: pointer; */
    width: 100%;
    height: 100%;
    /* transform: rotateY(180deg); */
}

.cards:hover {
    background-color: #2c3c52;
}

.card-front,
.card-back {

    backface-visibility: hidden;
    /* border-radius: 10px; */

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    /* box-sizing: border-box; */
    /* text-align: center; */
}

/* .card-front {
    background-color: #fff;
    color: #000;
    z-index: 2;
} */

.card-back {
    /* background-color: #f8f8f8; */
    /* color: #000; */
    transform: rotateY(180deg);
    /* z-index: 1; */
}

.cards.flipped {
    transform: rotateY(180deg);
}

/* .shuffle-button {
    outline: none !important;
    box-shadow: 0 0 0 2px rgba(130, 52, 52, 0);
}

.shuffle-button:focus {
    outline: 2px solid #af0e0e !important;
}

.shuffle-button:hover {
    outline: none !important;
} */

/* -------------------------------------------------------------------- */

/* MEMORY match page */

body.memoryMatchBody {
    background-color: #1a202c;
}

.memory-match-container {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #1a202c;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 90px; */
}

.instructions-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
}

.modal-content {
    text-align: center;
    padding: 20px;
    background-color: #2d3748;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 2px 18px rgb(0, 187, 255);
}

.memory-modal-title {
    margin-bottom: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #013d6c;
    text-shadow: 0 0 10px rgba(0, 145, 255, 0.8), 0 0 20px rgba(0, 145, 255, 0.8);
}

.memory-main-title {
    margin-bottom: 20px;
    /* font-size: 2.0rem; */
    font-weight: bold;
    color: #002e51;
    text-shadow: 0 0 10px rgba(0, 145, 255, 0.8), 0 0 20px rgba(0, 145, 255, 0.8);
}

.time-memory {
    font-weight: 700;
    color: #0069b9;
    text-shadow: 0 0 10px rgba(0, 145, 255, 0.527), 0 0 20px rgba(0, 145, 255, 0.553);
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.grid-card {
    /* width: 80px;
    height: 100px; */
    background-color: #2d3748;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    /* overflow: hidden; */
    white-space: normal;
    text-align: center;
    /* font-size: calc(5px + 1vw);  */
    /* padding: 10px; */
    /* fit-content: ; */
    box-shadow: 0px 2px 10px rgba(0, 187, 255, 0.481);
}

.grid-card.flipped {
    background-color: #4a5568;
}

.grid-card span {
    display: block;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    /* Break long words */
    word-break: break-word;
    /* Break long words */
    font-weight: 700;
    color: #0c96ff;
    /* text-shadow: 0 0 10px rgba(0, 145, 255, 0.8), 0 0 20px rgba(0, 145, 255, 0.8); */
}

.control-buttons {
    margin-top: 10px;
}

.restart-quit-memory-button {
    box-shadow: 0px 2px 10px rgba(0, 187, 255, 0.481);
}

/* .control-buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4a5568;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* .control-buttons button:hover {
    background-color: #2d3748;
} */



/* -------------------------------------------------------------------- */

/* DRAG N DROP page */

body.dragDropBody {
    background-color: #1a202c;
}

.drag-and-drop-container {
    text-align: center;
    font-family: Arial, sans-serif;
    /* color: white; */
    background-color: #1a202c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 80px; */
}

.instructions-drag-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* color: rgb(255, 0, 0); */
}

.drag-modal-content {
    color: rgb(0, 0, 0);
    background-color: #ffd000d0;
    /* font-size: 1.1em; */
    font-weight: 600;
    /* padding: 20px; */
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0px 2px 18px rgb(255, 179, 0);
}

.drag-modal-content h2 {
    margin-bottom: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 0px 10px rgb(255, 174, 0), 0 0 20px rgb(255, 111, 0);

}

.drag-modal-content p {
    margin-bottom: 10px;
}

/* .drag-start-button {} */



.drop-title {
    margin-bottom: 20px;
    /* font-size: 2.0rem; */
    font-weight: bold;
    color: #000000;
    text-shadow: 0 0 10px rgb(255, 196, 0), 0 0 20px rgb(255, 196, 0);

}

.main-drag-sets {
    /* margin-bottom: 20px; */
    background-color: #ffb300c4;
    /* padding: 5px; */
    border-radius: 8px;
    color: #000000;
    font-weight: 600;
    box-shadow: 0px 2px 8px rgb(255, 255, 255);
}

.drag-points {
    /* margin-bottom: 20px; */
    /* background-color: #ffb300ab; */
    /* padding: 5px; */
    /* border-radius: 8px; */
    color: #ffbb00e6;
    font-weight: 600;
}

.drag-categories-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.drag-category {
    /* width: 200px;
    height: 150px; */
    color: #000000;
    font-weight: 600;
    background-color: #ffb3009c;
    border: 2px dashed rgb(255, 234, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-shadow: 2px 2px 4px rgba(227, 227, 227, 0.764);
    box-shadow: 0px 2px 8px rgb(255, 255, 255);
    transition: background-color 0.3s ease;
    z-index: 10;
}

.drag-category.wrong {
    background-color: red;
}


.drag-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.drag-item {
    background-color: #ffb300eb;
    color: #000000;
    /* padding: 10px 20px; */
    border-radius: 5px;
    cursor: grab;
    /* transition: transform 0.1s ease; */
}

.dragging {
    cursor: grabbing !important;
}

.drag-restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    /* background-color: #4a5568; */
    /* color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .drag-restart-button:hover {
    background-color: #2d3748;
  } */



.drag-game-completed-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* box-shadow: 0px 2px 18px rgb(255, 255, 255); */
    /* color: rgb(140, 10, 10); */
}

.drag-completed-modal-content {
    color: rgb(0, 0, 0);
    background-color: #ffd000d0;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0px 2px 18px rgb(255, 179, 0);
}

.drag-completed-modal-content h2 {
    margin-bottom: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 0px 10px rgb(255, 174, 0), 0 0 20px rgb(255, 111, 0);
    /* box-shadow: 0px 2px 18px rgb(0, 0, 0); */
    border-radius: 5px;
}

.drag-completed-modal-content p {
    margin-bottom: 10px;
}

#dragging-clone {
    background-color: rgba(255, 179, 0, 0.8);
    /* Optional: Distinguish clone visually */
    border-radius: 5px;
    /* Match original styling */
    z-index: 1000;
    /* Ensure it appears above other elements */
    /* padding: 10px 20px; */
    color: #000000;
    /* Optional: Match text color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for better visibility */
}



/* ----------------------------------------------------------------------- */

/* HANGMAN MATH game page */ 

body.hangmanBody {
    background-color: #1a202c;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/hangman.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.hangman-container {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #1a202c;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/hangman.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.instructions-modal-hangman {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(209, 26, 26);
    z-index: 1000;
}

.instructions-content-hangman {
    text-align: center;
    padding: 20px;
    background-color: #482d2d;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 2px 18px rgb(255, 0, 0);
}

.hangman-modal-title {
    margin-bottom: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #ce0000;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.8);
}

.hangman-game-title {
    margin-bottom: 20px;
    /* font-size: 2.0rem; */
    font-weight: bold;
    color: #000000;
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 44, 44);
}

.hangman-drawing{
    background-color: #60000074;
    box-shadow: 0px 2px 18px rgb(255, 0, 0);
    cursor: url('/wand-cursor-hangman.svg'), auto;

}

/* .scale-svg {
    transform-origin: center !important; 
} */

.word-container {
    /* font-size: 24px; */
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.8);
    color: #d41818;
    margin-bottom: 20px;
}

.letter,
.underscore,
.space {
    margin: 0 5px;
    /* font-size: 28px; */
    font-weight: bold;
    text-transform: uppercase;
}

.underscore {
    text-decoration: underline;
}

.space {
    display: inline-block;
    width: 20px;
}

.hint {
    /* font-size: 18px; */
    margin-bottom: 20px;
    color: #e68181;
    text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.502);
    /* background: linear-gradient(90deg, #9b0e0e, #9b0e0e, #9b0e0e); */
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    cursor: url('/wand-cursor-hangman.svg'), auto;
}

.key {
    background: linear-gradient(90deg, #9b0e0e, #9b0e0e, #9b0e0e);
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
    color: rgb(0, 0, 0);
    font-weight: 700;
    /* padding: 10px 15px; */
    margin: 5px;
    border-radius: 33px;
    /* cursor: pointer; */
    cursor: url('/wand-cursor-hangman.svg'), auto;
}

.key.disabled {
    background-color: #2d3748;
    cursor: not-allowed;
}

.lifeline {
    margin-bottom: 20px;
    /* padding: 10px 20px; */
    background-color: #000000b3;
    color: rgb(219, 0, 0);
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: url('/wand-cursor-hangman.svg'), auto;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.525);
}

.lifeline:disabled {
    background-color: #2d3748;
    color: rgb(160, 0, 0);
    /* color:#004599; */
    cursor: url('/wand-cursor-hangman.svg'), auto;
}

.game-status {
    color: rgb(189, 0, 0);
    /* font-size: 24px; */
    margin-bottom: 4px;
}

.restart-button-hangman {
    /* padding: 10px 20px; */
    /* background-color: #4a5568; */
    /* color: white; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
}

.game-link-hangman-button {
    color: #000000 !important;
    text-decoration: none !important;
    cursor: url('/wand-cursor-hangman.svg'), auto;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.754);
    margin-bottom: 12px;
}

.game-link-hangman-button:hover {
    /* color: #0a2663 !important; */
    cursor: url('/wand-cursor-hangman.svg'), auto;
    
}