:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* height: 100%; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* -------------------------------------------------------------------------- */

/* index.css = Tailwind CSS with PostCSS (postcss will turn off some regular
CSS features like color picker when hovering over rgb colors,
so all regular CSS is in App.css, Tailwind CSS in index.css*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* main page 3 column grid */

/* making scroll bar 'invisible' */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #020405d1;
  /* gray-700 */
  border-radius: 10px;
}

body {
  @apply bg-gray-900 text-white;
}

/* Ensure all elements wrap correctly inside the chat box */
.chat-container code,
.chat-container pre,
.chat-container .katex {
  white-space: pre-wrap;
  /* Ensure code and LaTeX elements wrap */
  word-wrap: break-word;
  /* Allow long words to wrap */
  max-width: 100%;
  /* Prevent overflow */
  overflow-x: auto;
  /* Allow scrolling for really long content */
}



/* -------------------------------------------------------------- */

/* gpt message formatting output */

.math-block {
  max-width: 100%;
  overflow-x: auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.math-block,
pre {
  max-width: 100%;
  word-wrap: break-word;
}

code {
  max-width: 100%;
  word-break: break-word;
}